.error-message-form {
	color: red;
}

.form-container {
	width: 60%;
	margin: 15px auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.input-field {
	padding: 15px 30px;
	border: 1px solid #c1c1c1;
}
.input-error {
	font-size: 10px;
	color: rgb(155, 0, 0);
	height: 0;
	transform: translateY(-14px);
}
.input-file {
	width: fit-content;
	border: 2px solid #387099;
	color: #387099;
	background: white;
	font-weight: 600;
	padding: 5px 8px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.input-file:hover {
	background: #387099;
	color: white;
}
.input-file input[type='file'] {
	visibility: hidden;
	width: 0;
}
.select-field {
	padding: 10px;
	border: 1px solid #c1c1c1;
}

.submit-btn {
	background-color: var(--secondary);
	padding: 10px 15px;
	border: none;
	color: #fff;
}

.submit-btn:hover {
	cursor: pointer;
	background-color: #387099;
}

.preview-img {
	width: 30vh;
	align-self: center;
}
.terms-condicion-button:hover {
	text-decoration: underline;
	cursor: pointer;
}
